img {
  height: auto;
  width: 100%;
}

.winner {
  animation: move 3s linear 0s;
  animation-iteration-count: 1;
}

@keyframes move {
  from {
    transform: translatey(1000px);
  }
  to {
    transform: translatey(0px);
  }
}

@keyframes moveFirst {
}
