.status-container {
  margin-bottom: 1rem;
  width: 100%;
}

.status {
  animation: move 1s linear 0s;
  animation-iteration-count: 1;
  font-size: 0.75rem;
}

@keyframes move {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moveFirst {
}
