form {
  display: grid;
  font-size: 1rem;
  height: 40vh;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinker {
  animation: blinker 2s linear infinite;
  font-family: 'GreenFuz';
  letter-spacing: 0.3rem;
  text-align: center;
  width: 100%;
}

input,
button,
select,
option {
  font-family: 'GreenFuz';
  font-size: 1.75rem;
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 100px;
  border: 1px solid #c7c3c3;
  color: white;
  padding-left: 1rem;
  margin: 0.5rem;
}

@media (min-width: 500px) {
  input,
  button,
  select,
  option {
    font-size: 2rem;
  }
}
